---
import MyAboutPage from '../layouts/MyAboutPage.astro';
import BaseHead from '../components/BaseHead.astro';
import MySiteLayout from '../layouts/MySiteLayout.astro';
 import  "../css/about.css"
const title = "About";
---

<BaseHead title = {title}>
</BaseHead>
<MySiteLayout>
<MyAboutPage>

<div class="container">
            <h1>About me </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis labore, praesentium nostrum recusandae magni eaque itaque cupiditate fugit optio dolor beatae necessitatibus tenetur sapiente, perferendis dolorem numquam aliquam accusamus amet saepe eligendi excepturi id. Minus quam magni obcaecati labore, aliquid voluptatem enim. Ea provident, et adipisci quod nostrum dicta minus.</p>

</div>


</MyAboutPage>
</MySiteLayout>