---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../css/index.css";
import "../css/animationDuration.css";
const title = "About - Ekeopre Beredugo";
const description =
	"Ekeopre Beredugo is a frontend web developer that specializes in creating quality high converting websites.";
const author = "Ekeopre Beredugo";
const scrollToTop = "#about";
const contact = "#form";
---

<BaseLayout
	title={title}
	description={description}
	author={author}
	scrollToTop={scrollToTop}
	>
	<section class="about-section" id="about">
		<div class="text-container">
			<h1
		 class="about-section__main-heading title animate__animated animate__fadeInUp delay-1"
	 >
	 About
			</h1>
			<h2
		 class="about-section__large-heading animate__animated animate__fadeInUp delay-2"
	 >
	 I develop websites for personal brands and businesses
			</h2>


   <p class="description animate__animated animate__fadeInUp delay-2">
	After earning a degree in computer science, I found my passion in web development. I became curious by how websites worked, and how user-friendly websites were made to reflect people and brand ideas and I wanted to be able to create those kinds of welcoming experiences. My goal was to learn how to design websites that not only look good but also provided smooth, engaging experiences that leave lasting impressions.
  </p>

 <p class="description animate__animated animate__fadeInUp delay-2">
	 My journey as a web developer has been as much about understanding people as it has been about learning code. Early on, I thought that functionality was everything, if a site worked well, then it was good enough. But as I began to study the best performing websites, I realized that design is more than just visual appeal, it’s the bridge between the user and the experience we’re creating. I learned that even the most powerful features are only as impactful as they are accessible and engaging. Now, I approach each project with a focus on thoughtful design, aiming to create intuitive, inclusive, and visually compelling experiences. I believe that a well-designed website doesn’t just look good, it tells a story, guides users effortlessly, and ultimately makes them feel at home. This journey has taught me that great design is not a final touch but an essential foundation.
  </p>
   	<p class="description animate__animated animate__fadeInUp delay-2">
				I'm looking forward to collaborating with brands and businesses to align design elements with their vision, helping businesses achieve goals like building awareness, driving sales, and fostering trust.
				If you're looking for someone who genuinely cares about helping you achieve your website's goals, I'd love the opportunity to work with you. 
		</p>
	</section>
</BaseLayout>

<style>
	html {
		width: 100%;
	}

	body {
		width: 100%;
		font-family: "Inter", sans-serif;
	}

	.about-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--light-grey-color);
	}

	.about-section__large-heading.dark {

		color: var(--light-grey-color);
	}

	@media (min-width: 1200px) {
		.text-container {
			max-width: 60%;
		}
	}
	@media (min-width: 600px) {
		.about-section {
			padding: 10% 3rem;
		}
	}
	.about-section h1 {

		margin: 20px auto;
		text-align: center;
		font-family: "Archivo Black";
		text-transform: uppercase;
		font-size: var(--fs-large);
	}

	@media (min-width: 700px) {
		.about-section h1 {
			font-size: var(--fs-semi-large);
		}
	}
	@media (max-width: 820px) {
		.about-section {
			padding: 5% 0;
		}
		.about-section h1 {
			font-size: var(--fs-semi-large);
		}
	}

	@media (max-width: 800px) {
		.about-section {
			padding: 30% 1.5rem 4rem 1.5rem;
		}
		.about-section h1 {
			font-size: var(--fs-semi-medium);
		}
	}


	@media (min-width: 810px) {
		.about-section .about-section__large-heading {

			color: var(--light-green-color);
			font-family: "Inter", sans-serif;
			text-align: center;
			font-weight: 700;
			font-size: var(--fs-large);
		}
	}
	@media (max-width: 800px) {
		.about-section .about-section__large-heading {

			color: var(--light-green-color);
			font-size: var(--fs-semi-large);
			font-weight: 700;
		}
	}
	.about-section .description {
		line-height: 1.5;
		padding-top: 50px;
	}

	@media (min-width: 800px) {
		.about-section p {
			font-family: "Inter", sans-serif;
			font-size: var(--fs-medium);
		}
	}
	@media (max-width: 790px) {
		.about-section p {
			font-size: var(--fs-semi-medium);

			padding-bottom: 20px;
		}
	}

	@media (max-width: 500px) {
		.about-section .description {
			padding-top: 10px;
			font-size: var(--fs-p-mobile);
		}
	}

	.about-section .contact-link {
		padding-top: 20px;
		text-decoration: underline;
		font-size: var(--fs-medium);
		font-weight: 600;
	}

	@media (max-width: 500px) {
		.about-section .go-to-home-link {
			font-size: var(--fs-p-mobile);
		}
	}

	@media (min-width: 500px) {
		.about-section .go-to-home-link {
		}
	}

	.about-section.dark {
		background-color: var(--darker-green-color);
		color: var(--light-grey-color);
	}
</style>
