---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../css/index.css";
import "../css/animationDuration.css";
const title = "About - Ekeopre Beredugo";
const description =
	"Ekeopre Beredugo is a frontend web developer that specializes in creating quality high converting websites.";
const author = "Ekeopre Beredugo";
const scrollToTop = "#about";
---

<BaseLayout
	title={title}
	description={description}
	author={author}
	scrollToTop={scrollToTop}
	>
	<section class="about-section" id="about">
		<h1
		 class="about-section__main-heading title animate__animated animate__fadeInUp delay-1"
	 >
	 About
		</h1>
	   <div class="description-container">

<p class="description animate__animated animate__fadeInUp delay-2">
After earning my computer science degree, I discovered my passion
		for web development. I became fascinated by not only how websites work,
			but how they also reflect brand identities but how they connect with users with thoughtful design, intuitive interfaces, and seamless functionality.</p>
<p class="description animate__animated animate__fadeInUp delay-2">
			This curiosity pushed me to start learning HTML, CSS, and JavaScript just for fun, and before I knew it, I was building my own projects, going on to learn more about web technologies and about creating quality websites and loving every second of it. What started as a few late-night Google searches turned into a full-blown passion, and eventually, an career path I genuinely enjoy.</p>

   	   		<p class="description animate__animated animate__fadeInUp delay-2">
							I’m always excited to collaborate with brands and businesses, aligning design with their vision to help them achieve goals like building awareness, boosting sales, and earning trust. If you're looking for someone who truly cares about helping you reach your website’s goals, I’d love the chance to work together.
				  </p>
		</div>
	</section>
</BaseLayout>

<style>

body {
	width: 100%;
	font-family: "Inter", sans-serif;
	background-color: var(--light-grey-color);
}

@media (min-width: 600px) {
	.about-section {
		padding: 3% 7rem;
	}
}

@media (max-width: 800px) {
	.about-section {
		padding: 15% 1.5rem 4rem 1.5rem;
	}
}

/*about section dark mode*/

.about-section h1 {
	margin: 15px auto;
	text-align: center;
	font-family: "Archivo Black";
	text-transform: uppercase;
	color: var(--light-green-color);
}

@media (min-width: 700px) {
	.about-section h1 {
		font-size: var(--fs-48);
	}
}

@media (max-width: 820px) {
	.about-section h1 {
	   font-size: var(--fs-48);
	}
}

.about-section.dark {
	background-color: var(--dark-green-color);
	color: var(--light-grey-color);
}

.about-section.dark h1 {
	color: var(--light-grey-color);
}


.about-section .description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

@media (max-width: 820px) {
 .about-section .description-container {
  width: 100%;
}
	}

	.about-section .description {
		line-height: 1.5;
		padding-top: 50px;
	}


@media (min-width: 1200px) {
	.about-section .description {
		font-family: "Inter", sans-serif;
		font-size: var(--fs-28);
	}

}

@media (max-width: 790px) {

	.about-section .description {
		font-size: var(--fs-24);
		padding-bottom: 20px;
	}

}

@media (max-width: 500px) {
	.about-section .description {
		padding-top: 10px;
		font-size: var(--fs-p-mobile);
}

}

.more-content {
	display: none; /* Initially hidden */
}

.more-content.expanded {
	display: block; /* Visible when 'expanded' class is added */
}

</style>
