---
import MyAboutPage from '../layouts/MyAboutPage.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const title= "About - Ekeopre Beredugo";
const description = "Ekeopre Beredugo is a frontend web developer that specializes in creating quality high converting websites."
const author = "Ekeopre Beredugo"
---


<BaseLayout   title = {title} description = {description} author = {author}>
<MyAboutPage>

<main class="wrapper">
            <h1>About</h1>
            <p> I'm a frontend web developer based in Bayelsa, Nigeria and I'm passionate about creating accessible websites. I spent most of my early years growing up in Lagos, Nigeria before moving to acquire a degree in computer Science from Rivers state University, Nigeria. <br> <br> I have been building accessible websites primarily using HTML, CSS, JavaScript, React and more recently the, <a href="https://astro.build">Astro</a>  framework for two years. over the years, my curiousity for the modern web technologies and problem solving skills has taught me how to quickly adapt to new web technologies whenever I need to solve problems. <br> <br> When I'm not building websites or experimenting with web technologies, I enjoy sharing content on social media around web development and productivity as well as contibuting to developer communities.<br> <br> I'm always excited and looking to take on full time or freelance job opportunities so feel free to reach out to me any time. I'll be looking forward to connecting with you. </p>
                      
</main>


</MyAboutPage>
</BaseLayout>

<style>   
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
/* archivo-black-regular - latin */
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.svg#ArchivoBlack') format('svg'); /* Legacy iOS */
}

  
  html{
  width: 100%;
  }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    width: 100%;
    height: 100%;
  }



  
  .wrapper h1 {
  background: #0A1926;
    background: linear-gradient(to right, #0A1926 0%, #3535C4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      margin: 20px auto;
      font-family: 'Archivo Black';
      text-transform: uppercase;
      font-size: 3.5rem;
  }

  .wrapper p {
    font-size: 18px;
  }

  .wrapper p a  {
     color: orangered;
  }

  
@media (min-width: 800px){

.wrapper {
  margin: 0 20%;
}
.wrapper p {

  font-size: 18px;
 
}

}  
  @media (max-width: 1250px){

.wrapper h1 {
      font-size: 3rem;
  }

  }

  @media (max-width: 820px){

    .wrapper {

      margin: 5% 0;
    }
    .wrapper h1 {

      font-size: 30px;
    }
  }

  @media (max-width: 599px){
  .wrapper {
    margin: 30% 1.5rem;
  }
      .wrapper h1 {

        font-size: 25px;
      }

  }



@media (min-width:600px){

  .wrapper {
    padding: 10% 3rem;
  }
}




</style>