---
import MySiteLayout from '../layouts/MySiteLayout.astro';
import BaseHead from '../components/BaseHead.astro';
import Myworks from '../components/MyWorks.astro';
import MySkills from '../components/MySkills.astro';
import  "../css/index.css";

const title= "Home";
import 'animate.css';

---

<BaseHead title = {title}> 
</BaseHead>
<MySiteLayout>
       <main  id="swup" class="transition-fade"> 
              <section class="hero-section">
                     <h1 class=" animate__animated animate__fadeIn"> <span class="small-text">Hi there, my name is <br></span>Seun Olawale </h1>
                     <h2  class=" animate__animated animate__fadeInUp animate__faster">Front End developer and designer</h2>
                     <figure>
                            <img src="/src/assets/img/pencil.jpg" alt="">
                     </figure>
              </section>
              <MySkills/>
              <Myworks/>
      </main>
</MySiteLayout>



       