---
import "../css/heroSection.css";
import ThemeSwitcher from "../components/ThemeToggle.astro";
---

<section class="hero-section" id="particles-js">
	<h1 class="animate__animated animate__fadeIn main-heading">
		Hello, I'm Ekeopre Beredugo
	</h1>
	<h2 class="animate__animated animate__fadeInUp animate__faster job-title">
		Front-End developer
	</h2>
	<p class="animate__animated animate__fadeInUp animate__faster specialty-paragraph">
		I specialize in crafting accessible, high converting websites and web
		applications for personal brands and businesses.
	</p>
	<a
		class="porfolio-btn animate__animated animate__fadeInUp animate__faster"
		href="#portfolio">View portfolio</a
	>
	<ThemeSwitcher />
</section>
