---
import "../css/heroSection.css";

---

<section class="hero-section" id="particles-js">
    <h1 class=" animate__animated animate__fadeIn"> <span class="small-text">Hello, my name is</span> <br>Ekeopre Beredugo</h1>
    <h2  class=" animate__animated animate__fadeInUp animate__faster">Front End developer and UI designer</h2>
    <p>I specialize in crafting responsive, high converting websites and web experiences </p>
    <a href="#portfolio">View portfolio</a>
</section>
