<style>
	.hero-section {
		padding: 15% 2rem;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* Safari */
	@media (-webkit-transform-3d) {
		h1,
		h2,
		h3,
		h4,
		p {
			letter-spacing: 0.25px;
		}
	}

	/* Chrome */
	@media (-webkit-transform-3d) and (-moz-transform-3d) {
		h1,
		h2,
		h3,
		h4,
		p {
			letter-spacing: 0.5px;
		}
	}

	@media (min-width: 900px) {
		.hero-section {
			align-items: center;
			justify-content: space-evenly;
			text-align: center;
		}
	}

	.hero-section.dark {
		background-color: var(--darker-green-color);
	}

	@media (max-width: 550px) {
		.hero-section {
			padding-top: 20%;
		}
	}

	.hero-section-main-heading {
		font-size: var(--fs-hero-mobile);
		font-weight: 600;
		font-family: "Poppins";
		display: flex;
	}

	.hero-section-main-heading.dark {
		color: var(--light-grey-color);
	}

	h1.animate__animated.animate__fadeIn {
		--animate-duration: 3s;
	}

	h2 {
		padding-bottom: 0.8rem;
		font-size: var(--fs-extralarge);
		font-weight: 500;
		color: rgb(17, 33, 27);
		background-color: transparent;
		font-family: "Poppins";
		line-height: 1.2;
		--animate-duration: 2s;
	}

	@media (max-width: 800px) {
		h2 {
			font-size: var(--fs-large);
			font-weight: 800;
		}
	}

	@media (max-width: 500px) {
		h2 {
			font-size: var(--fs-semi-large);
		}
	}

	.hero-section p {
		text-align: left;
		font-size: var(--fs-semi-medium);
		max-width: 50%;
		margin-bottom: 20px;
		color: #272727;
		font-family: "Poppins";
	}

	@media (max-width: 900px) {
		.hero-section p {
			max-width: 80%;
		}
	}

	@media (max-width: 420px) {
		.hero-section p {
			font-size: var(--fs-p-mobile);
			max-width: 100%;
		}
	}

	.hero-section .cta {
		display: flex;
		gap: 2rem;
	}

	.hero-section .cta a {
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		display: inline;
		padding: 20px;
		background: var(--accent-color);
		color: #ffffff;

		font-family: "Poppins";
		font-size: var(--fs-semi-medium);
		font-weight: 900;
		transition: 1s all ease;
	}

	@media (max-width: 600px) {
		.hero-section .cta a {
			padding: 15px;
			font-size: 1rem;
			/* padding: 10px 5px; */
		}
	}

	@media (max-width: 375px) {
		.hero-section .cta a {
			font-size: 0.9rem;
			/* padding: 10px 5px; */
		}
	}
	.hero-section .cta a:hover {
		background: var(--dark-green-color);
	}
	.hero-section .cta .portfolio-btn {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	.hero-section .about-me-btn {
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	.hero-section a:hover {
		background-color: var(--accent-color);
	}

	/* dark mode styles */

	.hero-section h2.dark {
		color: #d1d1d1;
	}

	.hero-section p.dark {
		color: #d1d1d1;
	}
</style>

<section class="light-background hero-section" id="top-page">
	<h1
		class="heading animate__animated animate__fadeIn hero-section-main-heading"
	>
		Hi, I'm Ekeopre Beredugo
	</h1>
	<h2 class="animate__animated animate__fadeInUp animate__faster job-title">
		Front-end developer
	</h2>
	<p
		class="animate__animated animate__fadeInUp animate__faster specialty-paragraph"
	>
		I design and develop accessible, high-converting websites for personal
		brands and businesses. Whether you're looking to launch a new website or
		redesign your existing one, I can help you create a digital presence that is
		both visually appealing and easy to use.
	</p>
	<div class="cta">
		<a
			class="portfolio-btn animate__animated animate__fadeInUp animate__faster"
			href="#portfolio">View portfolio</a
		>
		<a
			class="about-me-btn animate__animated animate__fadeInUp animate__faster"
			href="../about">About me</a
		>
	</div>
</section>
