---
import '../css/heroSection.css';
import ThemeSwitcher from '../components/ThemeToggle.astro';
---

<section
  class="hero-section"
  id="particles-js"
>
  <h1 class="animate__animated animate__fadeIn">Ekeopre Beredugo</h1>
  <h2 class="animate__animated animate__fadeInUp animate__faster">
    Front End Web developer
  </h2>
  <p class="animate__animated animate__fadeInUp animate__faster">
    I specialize in crafting responsive, high converting websites and web
    experiences for personal brands and businesses.
  </p>
  <a
    class="porfolio-btn animate__animated animate__fadeInUp animate__faster"
    href="#portfolio"
    >View portfolio</a
  >
  <ThemeSwitcher />
</section>
