---

const portfolioCards = [

{
imgUrl: "../assets/praize-web.png",
text: " CSS, Bootstrap, Javascript",
animation: " card animate__animated animate__fadeInUp",
webUrl:  "https://praizecollectables.netlify.app/"
},

{
imgUrl: "../assets/jackson-web.webp",
text: " HTML, CSS, Javascript",
animation: " card animate__animated animate__fadeInUp",
webUrl: "https://jackson-tan.vercel.app"

},

{
imgUrl: "../assets/kombo-img.png",
text: " CSS, TailwindCSS, Javascript",
animation: " card animate__animated animate__fadeInUp",
webUrl: "https://kombojmg.vercel.app"
}

]
---

<section class="portfolio" id="portfolio">
  <h2>PORTFOLIO</h2>
  <div class="design-text">PORTFOLIO</div>
  <div class="card-container">
    {portfolioCards.map(portfolioCard =>
    <div class={portfolioCard.animation}>
        <figure>
          <img src={portfolioCard.imgUrl} alt="portfolio card" />
          <figcaption>
            <a href={portfolioCard.webUrl} target = "_blank">VISIT WEBSITE</a>   
          </figcaption>
        </figure>
      <p><span>Technologies:</span> {portfolioCard.text}</p>
    </div>
    )
    }
  </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

/* archivo-black-regular - latin */
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.svg#ArchivoBlack') format('svg'); /* Legacy iOS */
}


/* PORTFOLIO SECTION STYLES*/

  .portfolio {
    padding: 7rem 2rem;
    background-color: #9ea3e7;
    position: relative;
  }

@media (min-width:1400px){
 .portfolio {

    padding: 7rem 3rem;

    }
}

@media (max-width: 800px){
    .portfolio {

      padding: 4rem 3rem;

    }
  }

  .portfolio h2 {
    padding-bottom: 4rem;
    background: #0A1926;
    background: linear-gradient(to right, #0A1926 0%, #3535C4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width:800px) {
    .portfolio h2 {
      font-size: 3rem;
    }
  }

  .portfolio .design-text {
    font-family: 'Archivo Black';
    position: absolute;
    top: 6%;
    font-size: 10rem;
    opacity: 0.1;
  }

  @media (max-width: 1026px){
    
    .portfolio .design-text {
      font-size: 5rem;

  }

 }

 @media (max-width:600px){
    
    .portfolio .design-text {
      top: 4%;
      font-size: 2rem;
  }

 }


/* PORTFOLIO CARD STYLES*/
  .portfolio .card-container {
    display: flex;
    gap: 1.5rem;
  }

  .portfolio .card-container .card {
    width: 33.33%;
    padding: 0.9rem;
    border-radius: 24px;
    background-color: #898fe9;

  }

  .animate__animated.animate__fadeInUp {

    --animate-duration: 6s;
  }

  @media (max-width: 800px) {
    .portfolio .card-container .card {
      width: 100%;
    }

  }

  .portfolio .card-container .card figure {
    position: relative;
    z-index: 10;
    width: 100%;
  }

  .portfolio .card-container .card figure img {
    border-radius: 16px;
    width: 100%;
  }

 
  .portfolio .card-container .card figure figcaption {
   padding: 0;
   margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color:  #00000088;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 20;
    visibility: hidden;
 
  }

  .portfolio .card-container .card figure figcaption a{
     text-decoration: none;
     font-weight: 700;
     color: #ffffff;
     font-size: 1.5rem;
     font-family: 'Archivo Black';
 
  }
  .portfolio .card-container .card figure figcaption a:hover {

     text-decoration: underline;
  }


  .portfolio .card-container .card figure:hover > figcaption {
    visibility: visible;
  }
  

  .portfolio .card-container .card p {
  font-family: "Helvetica";
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: left;
    padding: 0.9rem 0;
  }

  .portfolio .card-container .card p span {
    font-weight: 900;
  }


  @media (max-width:800px) {
    .card-container {
      flex-direction: column;
    }
  }
</style>