:root {
	--fs-extralarge: 5rem;
	/*80px*/
	--fs-large: 3rem;
	/*48px*/
	--fs-double: 2rem;
	/*32px*/
	--fs-hero-h1-mobile: 1.6rem;
	/*30px*/
	--fs-hero-h2-mobile: 1.375rem;
	/*22px*/
	--fs-p-mobile: 1.25rem;
	/*20px*/
	--fs-medium: 1.5rem;
	/*24px*/
	--fs-default: 1rem;
	/*16px*/
	--fs-small: 0.8rem;
	/*12.8px*/
	--primary-color: #0a1926;

	--secondary-color: #ffffff;
}

.hero-section {
	background-image: url("/assets/img/bg-img.webp");
	margin: 15% 2rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

@media (max-width: 800px) {
	.hero-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media (max-width: 550px) {
	.hero-section {
		height: 95vh;
		padding-top: 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

h1 {
	color: rgb(61, 61, 61);
	font-size: var(--fs-hero-h1-mobile);
	font-weight: 600;
	font-family: "Poppins";
	display: flex;
}

h1.animate__animated.animate__fadeIn {
	--animate-duration: 3s;
}

h2 {
	padding-bottom: 0.8rem;
	font-size: var(--fs-extralarge);
	font-weight: 500;
	color: #3535c4;
	font-family: "Poppins";
	line-height: 1.2;
	--animate-duration: 2s;
}

@media (max-width: 800px) {
	h2 {
		font-size: var(--fs-large);
		font-weight: 800;
	}
}

.hero-section p {
	font-size: 1.2rem;
	max-width: 50%;
	margin-bottom: 20px;
	color: #272727;
	font-family: "Poppins";
}

@media (max-width: 900px) {
	.hero-section p {
		max-width: 80%;
	}
}

@media (max-width: 420px) {
	.hero-section p {
		font-size: var(--fs-p-mobile);
		max-width: 100%;
	}
}

.hero-section a {
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 20px 10px;
	width: 230px;
	background: #3535c4;
	color: #ffffff;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	font-family: "Poppins";
	font-size: 20px;
	transition: 1s all ease;
}

.hero-section a:hover {
	background-color: #4d4de9;
}

/* dark mode styles */

.hero-section h2.dark {
	color: #ffffff;
}

.hero-section p.dark {
	color: #ffffff;
}
