* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --fs-extralarge: 5rem;
  --fs-large: 3rem;
  --fs-medium: 1.5rem;
  --fs-default: 1rem;
  --fs-small: 0.8rem;
--primary-color: #000000;
--secondary-color: #ffffff;

}


html {
  height: 100%;
}

main h1{
  font-family: 'Archivo Black';
}


footer p {
  text-align: center;
  font-size: var(--fs-small);
}