*,
img {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;

	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;

	outline: none !important;
}

:root {
	--fs-extralarge: 5rem;
	/*80px*/
	--fs-large: 3rem;
	/*48px*/
	--fs-double: 2rem;
	/*32px*/
	--fs-hero-h1-mobile: 1.875rem;
	/*30px*/
	--fs-hero-h2-mobile: 1.2rem;
	/*22px*/
	--fs-section-h2-mobile: 2rem;

	--fs-medium: 1.5rem;
	/*24px*/
	--fs-default: 1rem;
	/*16px*/
	--fs-small: 0.8rem;
	/*12.8px*/
	--accent-color: #0a1926;
	--secondary-color: #ffffff;
	--darkTheme-color: #160d08;
}

.dark {
	background-color: var(--darkTheme-color);
	color: #fafafa;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer p {
	text-align: center;
	font-size: var(--fs-small);
}
