---
import "../css/index.css";
import Navigation from "../components/Navigation";
import Footer from "../components/Footer.astro";
---
 
<html lang="en">
  <body>
  <Navigation client:load/>

      <slot />

  <Footer/>

</body>
</html>
