---
import "../css/index.css";
---

<html lang="en">
  <body>
    <header>
    <div class="container-wrapper">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="#">Tweets</a></li>
        </ul>
      </nav>
    </div>
</header>
      <slot />

 <footer>
        <p>copyright 2022</p>
 </footer>

</body>
</html>
